-----BEGIN CERTIFICATE-----
MIIDqjCCApKgAwIBAgIJANf5ymt66KIoMA0GCSqGSIb3DQEBBQUAMFcxCzAJBgNV
BAYTAklSMQ8wDQYDVQQIDAZUZWhyYW4xDzANBgNVBAcMBlRlaHJhbjEaMBgGA1UE
CgwRU2FtcGxlQ2VydGlmaWNhdGUxCjAIBgNVBAMMASowHhcNMTUwMzA3MTM1MjQ2
WhcNMjUwMzA0MTM1MjQ2WjBXMQswCQYDVQQGEwJJUjEPMA0GA1UECAwGVGVocmFu
MQ8wDQYDVQQHDAZUZWhyYW4xGjAYBgNVBAoMEVNhbXBsZUNlcnRpZmljYXRlMQow
CAYDVQQDDAEqMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAt7xnwyv6
dIq2LDw9FqASDbEYipcEJmV9YMsYCJ2yLFnJzmkTIhfDYj+S0VOvvGIiZyBp7yFY
OGa6XtjNGZfVTjWUbwtvlakNs1i8d+9ITpGtEx5MSCJDPStGRsi6+5G5iqivKp54
2z2Hj9FYp+7JH5XULw+NHRaNKHJYeWT+kjp+JG/QutlPLDG2pHtJE2Tbmkl0bRCi
qa4NAW4HsBj+oZqLAQW0oNCHcw3gmeJSf2LEMjWffb+X5NMRDnijVFBMNM0D4dBo
xgqgQLvzf6RdP6RTx9E6BHRmRBiWV9sqqxRO0RnM7mkwnKMOL0omWf+CoZ5lrYD4
RvF/2EnXSyhxUQIDAQABo3kwdzAdBgNVHQ4EFgQU3jDUIFTHqmJeWJxhl+SNh7N/
7wkwHwYDVR0jBBgwFoAU3jDUIFTHqmJeWJxhl+SNh7N/7wkwDAYDVR0TBAUwAwEB
/zAnBgNVHREEIDAeggEqggUqLmNvbYIFKi5vcmeCBSoubmV0ggQqLmlyMA0GCSqG
SIb3DQEBBQUAA4IBAQC2N9VAeeFReZ9aBC/A/4Bh7JHU3GUprCLdyda8Pq3j3MS9
qar2GXQGiyRuP4QclD8IWB1jnhkktJuw7PotYer/OiDgVwh0gUWBjcIqxO7uPfZB
jGQh5l/tm6cDqROktrsDc+cYkbBsiNXE73rCG5VZJzc+XJ3jBnWlF2L6ACdhJWzC
BW5C9Fj8WXirVy6yVVpP7X8qBuPgYLPmZ1oxwICvYUenMyAKZH9Rj+6nrBy+lLtD
fCQvyMBZtJvQqWwR4KUjbo3ovZwNvGiDBTaHVUWN9CqwZOARNJCUZBIslGidMDbZ
0ztf9JWcIZNwaNUrXqJQy67blswHlrwZyIqw3kJY
-----END CERTIFICATE-----
